section {
    margin-left: 300px;
}
        
*{ 
    box-sizing: border-box;
}
.error{
    background: red;
}
.success{
    background: green;
}
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}